*.txt
*.dll
*.pdb
*.exe
/Webshow/WebApplication1/bin/
/Webshow/WebApplication1/obj/
/Webshow/WebApplication1/.vs/
/HMManager/HMMain6/obj/
/HMManager/HMMain6/bin/
/HMManager/ModelBase/obj/ 
/HMManager/ModelBase/bin/
/HMManager/ECCMain_Core/obj/ 
/HMManager/ECCMain_Core/bin/
/HMManager/DrawObj/obj/ 
/HMManager/DrawObj/bin/
/HMManager/DbInput/obj/ 
/HMManager/DbInput/bin/
/HMManager/DalOfAddress/obj/ 
/HMManager/DalOfAddress/bin/
/HMManager/BitCoin/obj/
/HMManager/BitCoin/bin/
/HMManager/CommonClass/obj/
/HMManager/CommonClass/bin/
/HMManager/WsOfWebClient/obj/
/HMManager/WsOfWebClient/bin/
/HMManager/ConsoleBitcoinChainApp/obj/
/HMManager/ConsoleBitcoinChainApp/bin/
/HMManager/MarketConsoleApp/obj/
/HMManager/MarketConsoleApp/bin/
/HMManager/HMMain6/.vs/
/HMManager/HMMain6/.vs/
/HMManager/TcpFunction/obj/
/HMManager/TcpFunction/bin/
/.vs/

